$color-grey: #707070;

:host ::ng-deep tag-input {
  input {
    margin-bottom: 0;
  }
}

.svg-wrapper {
  width: 99.5px;
  display: block;
  height: 61px;
  position: relative;

  margin: 0 auto;
  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.file-label {
  margin-top: 22px;
  height: calc(100% - 22px);
  transition: 0.2s;
  word-break: break-all;

  .warning {
    text-align: center;
  }
}

.file-label.is-dragover {
  background: #ddd;

  .svg-icon {
    path,
    line,
    polyline {
      stroke: #868686;
    }
  }
}

.svg-icon {
  path,
  line,
  polyline {
    transition: 0.2s;
    stroke: #a3a3a3;
  }
}

@keyframes showAnimation {
  0% {
    stroke-dashoffset: -300;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes showReverse {
  0% {
    stroke-dashoffset: 300;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes hideAnimation {
  100% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 300;
  }
}

.svg-icon {
  path,
  line,
  polyline {
    stroke-dashoffset: 0;
    stroke-dasharray: 300;
    animation-duration: 0.6s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
}

.hidden {
  path,
  line,
  polyline {
    stroke-dashoffset: 300;
  }
}

.svg-fail.start-animation {
  .line1 {
    stroke-dashoffset: 300;
    animation-delay: 0.2s;
  }

  .line2 {
    stroke-dashoffset: 300;
    animation-delay: 0.1s;
  }
}

.svg-fail.end-animation {
  .line2 {
    stroke-dashoffset: 0;
    animation-delay: 0.1s;
  }
}

.svg-success.start-animation {
  .line2 {
    stroke-dashoffset: 300;
    animation-delay: 0.2s;
  }
}

.svg-success.end-animation {
  .line2 {
    stroke-dashoffset: 0;
    animation-delay: 0.2s;
  }
}

.svg-upload.start-animation {
  path,
  line,
  polyline {
    animation-duration: 1s;
    stroke-dashoffset: 300;
    animation-delay: 0.2s;
  }
}

.start-animation {
  path,
  line,
  polyline {
    // stroke-dashoffset: -300;
    animation-name: showAnimation;
  }
}

.end-animation {
  path,
  line,
  polyline {
    // stroke-dashoffset: 0;
    animation-name: hideAnimation;
  }
}

h2 {
  margin-bottom: 30px;
}

.image-file .file-input {
  display: none;
}

.upload-centered {
  background: #fff;
  max-width: 1000px;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  padding: 30px 40px;
  margin: 40px auto;
}
.flex-wrapper {
  justify-content: space-between;
}

.image-description,
.image-file {
  width: calc(50% - 15px);
  input,
  textarea {
    display: block;
    width: 100%;
  }
}

.file-label:focus,
.outline:focus {
  outline: 0;
}

.file-label:focus .outline {
  border: 2px solid #2196f3;
}

.outline {
  transition: 0.3s;
  border: 2px solid transparent;
  display: block;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  padding: 0 20px;
  box-sizing: border-box;
  overflow: hidden;
  margin: -2px 0 0 -2px;
  display: block;
}

.button-colored {
  transition: 0.2s;
}

.button-colored:hover {
  outline: none;
  background: #a17e67;
}
