$white: #f2f3f4;
$black: #333;
$blackSubtitle: #4c4c4c;
$color-grey: #707070;
$color-light-grey: #787878;
$avatarSize: 40px;
$padding: 20px;
$radius: 5px;
@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin box-shadow($shadow) {
  box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
}

@mixin transition($time, $type, $property) {
  transition: $time $type $property;
  -moz-transition: $time $type $property;
  -webkit-transition: $time $type $property;
}

@mixin background() {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.centered {
  margin-bottom: 30px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.loading {
  display: block;
  height: 40px;
  margin-right: 10px;
}

.button-colored {
  margin-top: 0;
}

.image-author {
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 12px;
}

.avatar-container {
  width: 40px;
  height: 40px;
}

.hero-img {
  background: #fff;

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

.photo-centered {
  margin: 0 auto;
  margin: 20px auto;
  padding: 20px;
}

.button-wrapper {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

a {
  color: #bb8866;
  text-decoration: none;
}

.author-link {
  font-weight: 600;
}

a:hover {
  color: #a57a5e;
}

.photo-header {
  margin: 20px 0;

  * {
    margin-top: 8px;
  }

  .content-secondary {
    font-size: 13px;
  }

  .photo-tags {
    font-size: 14px;
    display: inline-block;
    margin: 24px 16px 18px 0;
    text-transform: lowercase;
    a {
      color: #787878;
      margin-left: 4px;
    }

    span:nth-of-type(1) {
      font-weight: 600;
    }
  }
}

.comment-title {
  color: $color-grey;
}

.comment-content {
  a {
    color: $black;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: #474747;
    }
  }

  p:nth-of-type(2) {
    margin-top: 12px;
  }

  .content-secondary {
    margin-left: 24px;
  }

  h4,
  .content-secondary {
    display: inline-block;
  }
}

.comment {
  display: flex;
  padding: 32px 0;
  border-bottom: 1px solid #efefef;

  &:last-of-type {
    border-bottom: 0;
  }
}

.likes {
  color: #787878;
}

.photo-title {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;

  h2,
  p,
  span {
    margin-top: 0;
  }

  .like {
    cursor: pointer;
  }
}

.photo {
  background-color: white;
  color: $black;
  overflow: hidden;

  .photo-content {
    padding: 10px $padding;
    text-align: justify;

    .add-comment {
      margin: 5px 0;

      .avatar {
        display: inline-block;
        width: $avatarSize;
        height: $avatarSize;
        @include border-radius($avatarSize * 0.5);
        margin-right: 15px;
        margin-bottom: 60px-$avatarSize;
        background-color: grey;
      }

      textarea {
        border: 1px solid #e4e4e4;
        width: calc(100% - 55px);
        height: 60px;
        resize: none;
        @include border-radius(3px);
      }
    }
  }

  img {
    width: 100%;
  }
}

.delete {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .centered {
    margin-bottom: 0;
    margin-top: 0;
  }
}
