<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <li class="navbar nav-item">
        <a class="nav-link" href="#">PRZEGLĄDAJ <span class="sr-only">(current)</span></a>
      </li>
      <li class="navbar nav-item">
        <a class="nav-link" href="#">Wiadomości <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item nav-user">
        <div class="nav-avatar"></div>
        <div class="nav-user-info">

          <a class="nav-link" href="#">
            <span class="nav-name">Imie Nazwisko</span>
            <span class="sr-only">(current)</span>
          </a>
          <span class="nav-link">@imienazwisko</span>
        </div>
      </li>
      <li class="navbar nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>




<!--<menu>-->
  <!--<div class="menu_logo flex">-->
    <!--<a class="centered" href="">Company name</a>-->
  <!--</div>-->

  <!--<div class="menu_link flex">-->
    <!--<a class="centered" href="">Przeglądaj</a>-->
  <!--</div>-->

  <!--<div class="menu_bordered flex">-->
    <!--<a class="centered" href="">♥</a>-->
  <!--</div>-->

  <!--<div class="menu_user flex">-->
    <!--<div class="centered">-->
      <!--<div class="user_avatar">-->
      <!--</div>-->
      <!--<div class="user_name">-->
        <!--<h3><a href="">Imie Nazwisko</a></h3>-->
        <!--<span>@imienazwisko</span>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</menu>-->
