<menu>
  <div class="container-menu">
    <ul class="container-menu-ul">
      <li class="menu-logo">
        <a href=""><img src="https://via.placeholder.com/170x40"/></a>
      </li>
      <li><a href="">Browse</a></li>
      <li class="menu-user">
        <a href=""><img src="https://via.placeholder.com/30x30"/></a>
        <span><a href="">Imie Nazwisko</a></span>
        <button class="menu-toggle-down">
          <i class="icon-angle-down"></i>
        </button>
        <div class="menu-toggled">
          <ul>
            <li>
              <a href=""><i class="icon-user"></i>Profile</a>
            </li>
            <li>
              <a href=""><i class="icon-cog"></i>Settings</a>
            </li>
            <li>
              <a href="/upload-image"><i class="icon-plus"></i>Add</a>
            </li>
            <li>
              <a href=""><i class="icon-off"></i>Logout</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="join-us-button"><a href="" class="button-colored">JOIN</a></li>
    </ul>
  </div>
</menu>
