menu {
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
}

.container-menu {
  padding: 0 80px;
}

.container-menu-ul {
  display: flex;
  height: 70px;

  a {
    color: #727272;
  }

  .icon-mail-alt {
    color: #919191;
  }

  li {
    padding: 0px 15px;
    display: flex;
    align-items: center;
  }
  .bordered {
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
  }
  .menu-logo {
    flex-grow: 1;
    padding-left: 0;

    a {
      display: inline-block;
    }
    img {
      display: block;
    }
  }
  .menu-user {
    padding-right: 0;
    a {
      color: #111;
    }
    img {
      border-radius: 15px;
      margin-right: 10px;
      display: block;
    }
    span {
      margin-right: 8px;
    }
    button {
      padding: 0;
      margin: 0;
      border: 0;
      background: none;
      cursor: pointer;
    }
  }
}

.menu-toggled {
  // display: none;
}

.menu-user {
  position: relative;
}

.container-menu .menu-toggled {
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  font-size: 15px;
  width: 225px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 5px 5px;
  height: 0;
  overflow: hidden;
  transition: height ease 0.2s;

  a {
    display: block;
    width: 100%;
  }

  .splitter {
    border-bottom: 1px solid #efefef;
    padding-bottom: 16px;
  }
  .splitter + li {
    padding-top: 16px;
  }

  i {
    margin-right: 8px;
  }

  li {
    padding: 10px 15px;
  }

  li:last-of-type {
    padding-bottom: 25px;
  }

  a {
    color: #333;
    transition: color ease 0.7s;

    i {
      color: #333;
    }
  }

  a:hover {
    color: #7f7f7f;
  }
}

.container-menu .menu-user:hover .menu-toggled {
  height: 184px;
}

.container-menu .menu-toggled:hover {
  height: 184px;
}

.container-menu .menu-toggled:focus-within {
  height: 184px;
}

.container-menu .menu-toggle-down:focus + .menu-toggled {
  height: 184px;
}
