<div class="label-wrapper">
  <span
    *ngIf="data.editable === true && editing === false"
    (click)="startEditing()"
    >Edit</span
  >

  <label class="input-description">{{ data.label }}</label>
  <input
    [ngClass]="editing === true || data.editable !== true ? '' : 'hidden'"
    type="password"
    #input
    (change)="
      change({
        new: this.input.value,
        confirm: this.passwordConfirm.value
      })
    "
  />
  <!-- password confirmation -->
  <label class="input-description">Confirm {{ data.label }}</label>
  <input
    [ngClass]="editing === true || data.editable !== true ? '' : 'hidden'"
    type="password"
    #passwordConfirm
    (change)="
      change({
        new: this.input.value,
        confirm: this.passwordConfirm.value
      })
    "
  />
  <span
    *ngIf="data.editable === true && editing === true"
    class="reject"
    (click)="stopEditing()"
    >X</span
  >
  <!-- id="title" -->
  <div class="warning" *ngIf="this.validateMessage !== ''">
    {{ validateMessage }}
  </div>
</div>
