<div class="wrapper">
  <div class="search" #searchField>
    <span class="icon">X</span>
    <input type="text" placeholder="Search..." (keyup)="search(this.input.value)" #input />
    <span class="loading"><img *ngIf="loading" src="../../assets/gif/Spinner-1s-20px.gif" /></span>
  </div>
</div>
<div class="search-result" #searchResult>
  <ul *ngIf="res !== null">
    <li *ngFor="let response of res">
      <div class="response">
        <div class="response-image">
          <a *ngIf="response.tagName === null" href="#" [ngStyle]="{ 'background-image': 'url(' + response.avatarImgLink + ')'}">
            <!-- <img src={{response.avatarImgLink}} /> -->
          </a>
          <a *ngIf="response.tagName !== null" href="#" style="background-image: url('https://vignette.wikia.nocookie.net/justdance/images/b/b7/Hashtag.png/revision/latest?cb=20160119195647')">
            <!-- <img src="https://vignette.wikia.nocookie.net/justdance/images/b/b7/Hashtag.png/revision/latest?cb=20160119195647" /> -->
          </a>
        </div>
        <div class="response-text">
          <div class="header">{{response.tagName !== null ? response.tagName : response.name}}</div>
          <div class="description">{{response.tagName !== null ? response.count + ' posts' : 'Followed by ' +
            response.followedCount}}</div>
        </div>
      </div>
    </li>
  </ul>
</div>