<div class="loading" *ngIf="loading === true">
  <img src="../../assets/svg/loading-images.svg" />
</div>
<div class="image-wrapper">
  <div class="image-element" *ngFor="let image of getImages()">
    <div class="image-cropped">
      <a href="/image/{{image.id}}"> <img src="{{image.imgLink}}" /> </a>
    </div>
    <div class="image-info">
      <h3>
        <a href="">{{ image.title }}</a>
      </h3>
      <div class="image-author">
        <div class="avatar-container">
          <a class="avatar-link" href="/user/{{image.userId}}">
            <img src="{{image.imgLink}}" />
          </a>
        </div>
        <div class="image-author-name">
          <a href="/user/{{image.userId}}">{{ image.userOwnerName }}</a>
        </div>
      </div>
    </div>
  </div>
</div>